extends layout

block content

    div#writing
        div#codex-editor.hide

    //div#save-button.button
    //    ='Publish an article'

    //script(src='https://cdn.rawgit.com/codex-editor/raw/version-2-0-1/dist/bundle.js')

    script(src='//cdn.jsdelivr.net/npm/codex.editor@2.0.2/build/codex-editor.min.js')

    script window.defaultEditorData = !{JSON.stringify(editorData) || '{}'};

    script(src='/public/build/bundle.js')

