extends layout

block content

    div#writing
        div#codex-editor.hide

    //div#save-button.button
    //    ='Publish an article'

    script(src='/public/build/bundle.js')

    //script(src='/public/build/codex-editor.js' defer)

    //script(src='//cdn.rawgit.com/codex-team/codex.editor/rewriting-version2.0/build/codex-editor.js' defer)
